@model IEnumerable<Sitio_Web_Core_MVC_CRUD_EF.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Crear Empresa</a>
</p>
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsable)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEmpresa" class="btn btn-primary" >Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEmpresa" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEmpresa" class="btn btn-danger" >Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
