@model IEnumerable<Sitio_Web_Core_MVC_CRUD_EF.Models.Software>

@{
    ViewData["Title"] = "Index";
}

<h1>Softwares</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Software</a>
</p>
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Softwarelicencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareVersion)
            </th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Softwarelicencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareVersion)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdSoftware" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdSoftware" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdSoftware" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
