@model IEnumerable<Sitio_Web_Core_MVC_CRUD_EF.Models.Operacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Operaciones de la empresa</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Operacion</a>
</p>
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OperacionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OperacionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdOperacion" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdOperacion" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdOperacion" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
