@model Sitio_Web_Core_MVC_CRUD_EF.Models.Sede

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sede</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsableTI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsableTI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenInt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenInt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSede">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
